:root {
    --white: #ffffff;
    --black: #000000;
}

#bounce {
    position: absolute;
    top: 20px;
    left: 350px;
    height: 50px;
    width: 75px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: black;
}

.ball {
    position: absolute;
    top:20px;
    left: 300px;
    font-size: 80px;
}

#container {
    width: 600px;
    height: 600px;
    position: relative;
    background: yellow;
}
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
}